.Header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 118px;

    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    font-family: 'Rubik'
}

.Header>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 35px
}

.Header>div>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Header .profile:hover,
.Header .user:hover,
.Header .signout:hover {
    cursor: pointer;
    opacity: 0.5;
}

.Header .user {
    margin-bottom: 10px;
    cursor: pointer;
}

.Header .visual-element {
    position: absolute;
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    z-index: -1
}